body {
    background-color: beige;
    text-align: center;
}

h1 {
    font-style: italic;
    text-decoration: underline;
    color: darkmagenta;
}

button {
    background-color: darkslateblue;
    color: tan;
    width: 10%;
    height: 3%;
    padding: 30px;
}

button:hover {
    background-color: slateblue;
    color: darkgoldenrod;
}